body{
    margin: 0;
}

nav{
    background: black;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

nav img{
    width: 50%;
}

ul{
    list-style-type: none;
    padding: 0%;
    list-style: none;  
    display: flex;  
    justify-content: center;
    align-items: center;
    margin: 0;

}
li{
    margin: 0 10px;
}

li a {
    color: white;
    text-decoration: none;
}

.logo{
    margin-top: 0%;
}

#logo{
    margin-left: 0;
    margin-right: 450px;
}


section{
    margin: 10px 10px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* 
Portifolio 
*/
#portifolio{
    max-width: 1330px;
}

#portifolio > div{
    display: inherit;
    justify-content: center;
}

.zoom{
    border: solid 3px whitesmoke;

    transition: transform .2s;
    margin: 5px;
}

.zoom:hover{
    transform: scale(1.5);
}

/*Perfil*/

.card{
    height: 500 px;
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;

}
.perfil{
    display: flex;
}

.perfil img{
    border-radius: 80%;
    width: 100%;
}

.perfil > div{
    display: inherit;
    justify-content: center;
}

.texto{
    margin: 5%;
    text-align: justify;
}
.titulo{
    text-align: center;
}
.container{
    display: flex;
}
